/*.ui.dashboard.segment>.ui.grid>.column:first-child{
    margin:0!important;
    border-radius: 0px!important;
}*/


.ui.segment{
    margin:0!important;
    border:none!important;
    border-radius: 0px!important;
}

.ui.credit.segment{
    font-size: 4rem;
    margin:0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ddd!important;
}
.ui.credit.segment sup{
    font-size: 0.25em;
    font-weight: 600;
    letter-spacing: 0.05rem;
    line-height:0;
    position:relative;
    vertical-align:baseline;
    top:-2.3rem;
}

.app_number{
    font-size: 1.4rem;
    font-weight:400;
}

.ui.header.segment{
    font-size: 0.92857rem;/*12px*/
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    line-height: 1.2rem;
    width: 100%;
    background: #F7F7F7;
    border:0;
    border-bottom: 1px solid #ddd!important;
    margin: 0;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 18px;
    display: block;
}

.ui.dashboard.segment>.ui.grid > .column {
    padding:0!important;
    border-right:1px solid #ddd;
    ;
}

.ui.header .icon:only-child{
    padding-top:0.1rem;
    padding-bottom:0.1rem;
    padding-left:0.4rem;
    padding-right:0.4rem;
    margin:0;
}

.ui.header i.icon {
    width: 100%!important;
    height:90%!important;
}

.ui.company.segment {
    padding-left:40px!important;
    padding-right:40px!important;
    padding-top:20px !important;
    padding-bottom:20px !important;
    margin-top: 20px!important;
}

.ui.list > .item > .header{
    font-size: 0.92857rem/*12px*/!important;
    letter-spacing: 0.05rem!important;
    text-transform: uppercase!important;
    line-height: 1.2rem!important;
    font-weight:600!important;
}

.ui.dashboard.segment img{
    width: 100%;
    margin:0px!important;
    padding:0px!important;
    display: block;
}

/*.ui.horizontal.list{
    padding:0;
}

.ui.horizontal.list > .item:first-child{
    padding-right:2em!important;
    border-right: 1px solid #ddd;
    margin-right:1em!important;
    word-wrap: break-word;
}
*/

.ui.list{
    padding:0!important;
    word-wrap: break-word;
}

.ui.company.segment>.ui.list>.item{
    padding: 0!important;
    margin-bottom:2em!important;
}

.ui.list>.item>.ui.grid{
    width:100%;
    margin-left:0!important;
}

.ui.list>.item>.ui.grid>.column{
    padding-left:0em;
    margin-bottom: 0em!important;
    margin-top: 0em!important;
    padding-top: 0!important;
    padding-bottom: 0em!important;
}

@media only screen and (max-width: 767px){
   .ui.list>.item>.ui.grid>.column{
       width:100%;
       padding:0!important;}
    .ui.list>.item>.ui.grid>.column:not(:first-child){
        margin-top: 1.5em!important;
    }
}

.ui.company.segment>.ui.list>.item>.ui.grid>.column:first-child{ 
    border-right: 1px solid #ddd;
    margin-right:0.5!important;

}

.ui.company.segment>.ui.list>.item>.ui.grid>.column:not(:first-child){ padding-left:1.5em; }

.ui.company.segment>.ui.list>.item>.ui.grid{
    padding:0!important;
    margin-top: 0em!important;
    padding-bottom: 1em!important;
}

/*list of subscribed apps*/
.ui.horizontal.list >.item img {
    width: 40px !important;
    resize: both !important;
}


.ui.horizontal.list > .item{
    display:inline-block;
    padding:0!important;
    margin-left:0;
    margin-top:0;
    margin-bottom:0.8rem!important;
    margin-right:0.8rem!important;
    
}

.ui.horizontal.list {
    width:100%;
    margin:0!important;
    padding-left:40px!important;
    padding-right: 30px!important;
    padding-top:24px !important;
    padding-bottom:24px !important;
}

/*statistic for subscription*/
.ui.credit.segment > .ui.grid>.six.wide.column>.remove.icon{
    font-size:1rem!important;}

.ui.credit.segment > .ui.grid>.six.wide.column{
    font-size:1.57142rem;
    font-weight:600;
    line-height: 1rem;
    display:block;
}

.ui.credit.segment > .ui.grid>.six.wide.column>.statistic.description{
    font-size:0.85714rem!important;
    font-weight:400;
}

/*Recent activities list*/
 .ui.avatar.image{
    width: 30px !important;
    height: 30px !important;
}

.ui.activities.list > .item > .content{
    word-wrap: break-word;
    width:85%;
}

.ui.activities.list > .item{
    border-bottom:  1px solid #ddd!important;
    padding-bottom: 20px;
}

.ui.activities.list {
    padding-left:30px!important;
    padding-right:30px!important;
}

/*SIDEBAR*/
