/*need to change in semantic*/
/* set segment don't have border, round corner*/

.ui.segment {
    margin: 0!important;
    border: none;
    border-radius: 0;
}

/*create an header segment in semantic*/
.ui.header.segment{
    font-size: 1.481481rem /*20/13.5*/!important;
    text-transform: uppercase;
    line-height: 1;
    width: 100%;
    background: #F7F7F7;
    border:0;
    border-bottom: 1px solid #ddd;
    margin: 0;
    border-radius: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 22px;
    padding-bottom: 22px;
    display: block;
}

/*create new*/
/*for screen has vertical nav*/
.left_nav.column {
    width: 350px!important;
    padding:0!important;
    float: left;
    border-right:1px solid #ddd;
}

.left_nav.column>.ui.segment:not(.header){    
}

/*for those link on the sidebar/left nav*/
.ui.sidebar_action.segment {
    padding: 0.370370em;/*5px*/
    border-bottom: 1px solid #ddd!important;
}

.ui.sidebar_action.segment>.ui.segment{
    padding-left:35px;
    padding-right:35px;
padding-top: 10px;
    padding-bottom: 10px;
    font-weight:600;
}

.ui.sidebar_action.segment>.ui.segment:hover{
    background-color:#e4e4e4;
}

.ui.sidebar_action.segment>.ui.icon.input{
    width: 270px;
    margin:5px 35px;
}

/*ACCORDION*/

.ui.accordion{
    padding-top: 1em;
    padding-bottom:1em;  
}


.accordion .accordion.chosen_tab.title{
    font-weight: 600;
}

.ui.accordion .chosen_tab.title{
    font-weight: 600;
}

.accordion>.title>.dropdown{
    float:right!important;
    margin-top:0.3em!important;
}

.accordion a{
    color:#414141;
}

.accordion >.title a:hover{
    color:#717171;
    cursor: pointer;
    /*background: #F7F7F7;*/
}

.accordion i:not(.dropdown){
    margin-right:1.074074em!important;/*14.5/13.5*/
}

.accordion>.title{
    padding-top: 1.2em!important;/*old:11/13.5*/
    padding-bottom:1.2em!important;/*old:11/13.5*/
    padding-left:2.962962rem!important; /*40/13.5*/
    padding-right: 2.962962rem!important; /*40/13.5*/
}

.accordion .ui.accordion{
    margin-top:0!important;
}

.accordion .ui.accordion>.title{
    padding-top: 0.814814em!important;
    padding-bottom:0.814814em!important;
    padding-left:4.562962em!important;
}

.accordion>.content{
    padding-top:0 !important;
    padding-bottom:0 !important;
    margin-top:0 !important;
}


/*Right side content*/
.right_content.column{
    width: calc(100% - 350px)!important;
    padding:0!important;
}

.right_content.column>.ui.content.segments{
    border:none!important;
    margin:0;
    border-radius: 0;
    padding-left:40px;
    padding-right: 40px;
}

.right_content.column>.ui.content.segments>.ui.segment>.ui.grid>.column{
    padding-left:0!important;
}

.right_content.column>.ui.content.segments>.ui.segment>.ui.grid>.column > .ui.input{
    min-width: 250px;
}

/*margin from the header*/
.right_content.column>.ui.content.segments>.ui.segment{
    margin-top: 1.2rem!important;
}



/*RIGHT TABLE*/
.ui.content.segments>.ui.list.grid>.column .ui.table thead th{
    padding-left: 0 !important;
    padding-bottom: 0.592592; /*8px, old:0.4*/
    padding-top: 1.333333rem!important;/*20px*/
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.ui.content.segments>.ui.list.grid>.column .ui.table tbody td{
    padding:1.6rem 0 !important;
}

.ui.content.segments>.ui.list.grid>.column .ui.table td .image{
    margin-right: 12px;
    margin-top: -1px;
}

.ui.list.grid{
    margin-top: 0.6rem;
}

.ui.content.segments>.ui.list.grid>.column .ui.table tfoot th{
    border-top: 1px solid #ddd;
}

/*PAGINATION*/
.ui.pagination.menu{
    min-height: 38px;   
}

.ui.pagination.menu .item{
    padding-top: 10px !important;
    padding-bottom: 9px !important;
    min-width: 34px;
}
.ui.pagination.menu .icon.item {
    padding-left: 12px;
    padding-right: 12px;
}

.ui.pagination.menu .active.item{
    background-color: rgba(238,238,238,1)
}

