/*need to change in semantic*/
/* set segment don't have border, round corner*/

.ui.segment {
    margin: 0!important;
    border: none;
    border-radius: 0;
}

/*create an header segment in semantic*/
.ui.header.segment{
    font-size: 1.481481rem /*20/13.5*/!important;
    text-transform: uppercase;
    line-height: 1;
    width: 100%;
    background: #F7F7F7;
    border:0;
    border-bottom: 1px solid #ddd;
    margin: 0;
    border-radius: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 22px;
    padding-bottom: 22px;
    display: block;
}


/*Right side content*/
.right_content.column{
    width: auto;
    padding:0!important;
}

.right_content.column>.ui.content.segments{
    border:none!important;
    margin:0;
    border-radius: 0;
    padding-left:40px;
    padding-right: 40px;
}

.right_content.column>.ui.content.segments>.ui.segment>.ui.grid>.column{
    padding-left:0!important;
}

.right_content.column>.ui.content.segments>.ui.segment>.ui.grid>.column > .ui.input{
    min-width: 250px;
}

/*margin from the header*/
.right_content.column>.ui.content.segments>.ui.segment{
    margin-top: 1.2rem!important;
}



/*RIGHT TABLE*/
.ui.content.segments>.ui.list.grid>.column .ui.table thead th{
    padding-left: 0 !important;
    padding-bottom: 0.592592; /*8px, old:0.4*/
    padding-top: 1.333333rem!important;/*20px*/
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.ui.content.segments>.ui.list.grid>.column .ui.table tbody td{
    padding:1.6rem 0 !important;
}

.ui.content.segments>.ui.list.grid>.column .ui.table td .image{
    margin-right: 12px;
    margin-top: -1px;
}

.ui.list.grid{
    margin-top: 0.6rem;
}

.ui.content.segments>.ui.list.grid>.column .ui.table tfoot th{
    border-top: 1px solid #ddd;
}

.ui.content.segments>.ui.list.grid>.column .ui.table tbody td > .ui.checkbox input[type="checkbox"]{
    
}

/*PAGINATION*/
.ui.pagination.menu{
    min-height: 38px;   
}

.ui.pagination.menu .item{
    padding-top: 10px !important;
    padding-bottom: 9px !important;
    min-width: 34px;
}
.ui.pagination.menu .icon.item {
    padding-left: 12px;
    padding-right: 12px;
}

.ui.pagination.menu .active.item{
    background-color: rgba(238,238,238,1)
}


/*-------------
    FORMAT
---------------*/
.ui.content.segments>.ui.list.grid>.column .ui.table tbody td span[data-type~="sub-detail"] {
    color: #aaaaaa!important;
    font-weight: 300!important;
}

.ui.content.segments>.ui.list.grid>.column .ui.table tbody td[data-value~="blank"] {
    color: #aaaaaa!important;
}

.ui.content.segments>.ui.list.grid>.column .ui.table thead th >.ui.checkbox, .ui.content.segments>.ui.list.grid>.column .ui.table tbody td >.ui.checkbox{
    display: flex;
    padding-right: 0em!important;
    width:0rem;
}

.ui.content.segments>.ui.list.grid>.column .ui.table thead th >.ui.checkbox label, .ui.content.segments>.ui.list.grid>.column .ui.table tbody td >.ui.checkbox label{
    width:0rem;
}

/*-------------
    LABEL
---------------*/
.ui.label .icon{
    font-size:1rem;
    margin-right: 0.45em;
    display: inline;
}

.ui.content.segments>.ui.list.grid>.column .ui.table tbody td[data-type="label-dot"]{
    padding-right: 0.7rem!important;
}

/*-------------
    LABEL POPUP
---------------*/

.ui.popup {
    font-size: 0.8rem!important;
    letter-spacing: 0.02rem!important;
    line-height: 1rem !important;
    margin-left: -0.7rem;
}


/*-------------
       BAR
---------------*/
.horizontal_bar{
    width: 100px;
    height: 10px;
    background: #eeeeee;
    display:inline-block;
    margin-right: 1rem;
}

.horizontal_amount{
    height: 100%;
    background:#1cc98a;
    
}
.horizontal_amount[data-value="8"]{
        width: 8%;
}

.horizontal_amount[data-value="34"]{
        width: 34%;
}
    
.horizontal_amount[data-value="55"]{
        width: 55%;
}

.horizontal_amount[data-value="13"]{
        width: 13%;
}

.horizontal_amount[data-value="21"]{
        width: 21%;
}
