.ui.fluid>.ui.grid>.column .ui.table thead th{
    padding-left: 0 !important;
    padding-bottom: 0.592592; /*8px, old:0.4*/
    padding-top: 1.333333rem!important;/*20px*/
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase!important;
    letter-spacing: 0.75px;
    border:none;
    
}

.ui.fluid>.ui.grid>.column .ui.table thead th[colspan]{
    text-align: center;
}

.ui.fluid>.ui.grid>.column .ui.table thead th{
    text-align: left;
}

.ui.fluid>.ui.grid>.column .ui.table{
    margin:auto;
    margin-top:3rem;
    width:auto;
    
}

.ui.fluid>.ui.grid>.column .ui.table tbody td{
    border: none!important;
}

/*------------
    MODAL
------------*/

.ui.modal{
    width:500px;
    padding-left:3.185185rem;/*43/13.5*/
    padding-right:3.185185rem;/*43/13.5*/
    padding-top:2.222222rem;/*30/13.5*/
    padding-bottom: 2.792592rem;/*37.7/13.5*/
    box-shadow:none;
    border:1px solid #ddd;
    border-radius: 8px;;
}

.ui.modal>.header{
    font-size:1.185185rem!important;/*16/13.5*/
    text-transform: uppercase;
    font-weight: 700;
    padding:0;
    border:none;
    margin-bottom:1.4375em; /*30/16*/
}

.ui.modal i.close{
    cursor: pointer;
    position: absolute;
    top: 1.34285714rem;
    right: 1.64285714rem;
    z-index: 1;
    opacity: .8;
    font-size: 1.5rem!important;
    width: 2.25rem;
    height: 2.25rem;
}

.ui.modal>.content{
    padding:0;
    line-height:1.851851rem!important;
}

.ui.modal>.content label{
    font-size: 1rem;
    color:#767676;
    font-weight: 500;
}

.ui.modal > .content >.ui.fluid.dropdown {
    margin-top:0.2rem!important;
}

.ui.modal >.actions{
    background:none;
    border:none;
    padding:0;
    margin-top:2.592592rem;/*35/13.5*/ /*1.481481rem/*20/13.5*/
}

.ui.modal >.actions a{
    cursor: pointer;
}

.ui.modal >.actions a:hover{
    color:##40b5d8;
}


/*----------------
    MODAL 3 BTN
------------------*/

.ui.modal>.actions>.left.floated.button{
    margin-left: 0!important;
}

/*--------------------
    MODAL NO TITLE
----------------------*/
.ui.no_title.modal>.actions{
    margin-top:1.2rem;
}

.ui.no_title.modal{
    padding-bottom:2rem!important;
}

/*--------------------
    MODAL WITH STEPS
----------------------*/
.ui.step.modal{
    width:auto!important;
}

.ui.step.modal>.actions{
    margin-top:3rem;
}

.ui.step.modal>.content>.ui.steps{
    margin-bottom: 2rem!important;
    text-align: left;
    width:100%;
}


.ui.steps>.step{
    padding:1rem 1rem ;
    text-align: left;

}

.ui.steps .icon{
    font-size: 1.8rem!important;
    margin-top:0.3rem!important;
}

.ui.step.modal>.content>.ui.steps>.step>.content>.title{
    font-size: 1.111111rem;/*16/13.5*/
    font-weight: 600;
}

.ui.step.modal>.content>.ui.steps>.step>.content>.description{
    font-size:0.851851rem;
    line-height: 0.7rem;
}

#modal_4steptext .title, #modal_2stepnext .title{
    font-size: 1rem!important;
}

#modal_4steptext .step, #modal_2stepnext .step{
    padding:0.7rem 0.7rem ;
}

/*--------------------
    MODAL WITH TABS
----------------------*/
.ui.secondary.pointing.menu>.active{
    font-weight: 600!important;
}

.ui.secondary.pointing.menu{
    margin-bottom: 1.481481rem;/*20/13.5*/
    margin-top: 1.407407rem;/*19/13.5*/
}

/*--------------------
    MODAL WITH MESSAGE
----------------------*/

.ui.message > .header{
    margin-bottom: 0.666667rem;/*9/13.5*/
}

.ui.message{
    padding-left:1.629629rem;/*22/13.5*/
    padding-right:1.629629rem;/*22/13.5*/
    margin-bottom:1.629629rem;/*22/13.5*/
}

.ui.message>.ui.ordered.list>.item::before{
    font-weight: 600!important;
}

.ui.error.message{
    background: white;
    color: #E95849;
    border: 1px solid #E95849; 
}

strong{
    font-weight: 600;
}

#modal_formwarning> .content h5{
    margin-top:0rem;
}

/*#modal_formwarning>.content>.ui.grid{
    margin-bottom:1.5rem;
}*/

/*--------------------
    CHECKBOX
----------------------*/
.ui.checkbox:not(.conditionterms) label{
    color:#414141!important;
    font-weight: 400!important;
}

.grouped.fields {
    margin-top: 1.481481rem!important;/*20/13.5*/
    margin-bottom: 0!important;
}

.grouped.fields label:first-child{
    color: #767676!important;
}

/*--------------------
        TERMS
----------------------*/
.conditionterms label{
    font-size:0.851851rem!important; 
    color: #767676!important;
    font-weight: 400!important;
}

.conditionterms label{
    margin-top:1.481481rem!important;/*20/13.5*/
}

#modal_checkbox>.actions{
    margin-top: 1.111111rem/*15/13.5*/
}

/*--------------------
        POPUP
----------------------*/
.ui.custom.popup{
    padding-left:1.629629rem;/*22/13.5*/;
    padding-right:1.629629rem;/*22/13.5*/;
    padding-top:1.925925rem;/*26/13.5*/;
    padding-top:1.629629rem;/*22/13.5*/;
    padding-bottom:1.333333rem;;/*22/13.5*/;
    min-width: 350px!important;
}
.ui.custom.popup >.header{
    font-weight: 600;
    margin-bottom: 0.740740rem;/*10/13.5*/
    font-size:1.185185rem;
}

.ui.custom.popup p{
    margin-bottom: 0.740740rem;/*10/13.5*/
}

.ui.custom.popup a{
    
}